/*----------------------------
	Google Font
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/*----------------------------
	Custom Properties
----------------------------*/
:root {
  /* color */
  --brand-100: hsl(236, 72%, 79%);
  --brand-200: hsl(237, 63%, 64%);
  --brand-300: hsl(228, 45%, 44%);

  --white: hsl(100, 0%, 100%);
  --grey-100: hsl(240, 78%, 98%);
  --grey-200: hsl(234, 14%, 74%);
  --grey-300: hsl(233, 13%, 49%);
  --grey-400: hsl(232, 13%, 33%);

  --gradient: linear-gradient(
    to bottom right,
    var(--brand-100),
    var(--brand-200)
  );
  --gradient-hover: linear-gradient(
    to bottom right,
    var(--brand-200),
    var(--brand-300)
  );

  --border: 0.1rem solid var(--grey-200);
}
/*----------------------------
	general reset
----------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*----------------------------
	Setup body
----------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  min-height: calc(100vh - 2rem);
  padding-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  color: var(--grey-300);
  flex-direction: column;
  background-color: var(--grey-100);
  background-image: url(../images/bg-bottom.svg), url(../images/bg-top.svg);
  background-position: left bottom, 190% top;
  background-repeat: no-repeat;
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
/*----------------------------
	Component
----------------------------*/
.primary-header {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 1.5rem;
  gap: 1rem;
}

header > h1 {
  font-size: clamp(1.1rem, 5vw + 1rem, 2.5rem);
}

/*----------------------------
	Toggle control
----------------------------*/
/* For more like this, see: https://github.com/scottaohara/a11y_styled_form_controls */

.radio-switch {
  --knob-padding: 0.125rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 0.825rem;
  margin: 2rem auto;
}

radio-switch__inner {
  display: inline-block;
  position: relative;
}

.radio-switch__label {
  position: relative;
  display: inline-block;
  line-height: 2;
  z-index: 2;
  cursor: pointer;
}

.radio-switch input {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  appearance: none;
  background: none;
  opacity: 0.000001;
  margin: 0;
  height: 100%;
  width: 30%;
  z-index: 3;
  top: 0;
}

.radio-switch input:first-of-type {
  left: 0;
}

.radio-switch input:last-of-type {
  right: 0;
}

.radio-switch input:not(:checked):hover + label {
  text-decoration: underline;
}

.radio-switch label:first-of-type {
  padding-right: 5em;
}

.radio-switch label:last-child {
  padding-left: 5em;
  margin-left: -4.25em;
}

.radio-switch:focus-within label:first-of-type::after {
  box-shadow: 0 0 0 0.125rem var(--white), 0 0 0 0.25rem var(--grey-200);
}

.radio-switch label:first-of-type::after,
.radio-switch label:first-of-type::before {
  content: "";
  height: 2em;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  vertical-align: middle;
}

.radio-switch label:first-of-type::before {
  /* content: ""; */
  position: absolute;
  right: var(--knob-padding);
  top: var(--knob-padding);
  height: calc(2em - (2 * var(--knob-padding)));
  width: calc(2em - (2 * var(--knob-padding)));
  background-color: var(--white);
  border-radius: 100%;
  transition: right 300ms ease-in-out;
  z-index: 2;
}

.radio-switch label:first-of-type::after {
  background: var(--gradient);
  border-radius: 1em;
  margin: 0 1em;
  width: 4em;
  transition: background 300ms ease-in-out;
}

.radio-switch input:first-of-type:checked ~ label:first-of-type::before {
  right: calc(2em + var(--knob-padding));
}

.radio-switch input:last-of-type:checked ~ label:last-of-type {
  z-index: 1;
}

/* 
	*	ACCESSIBILITY extra: High Contrast Mode
	* 'color in' the switch knob in high contrast mode by giving it a large border:
*/
@media screen and (-ms-high-contrast: active) {
  .radio-switch label:first-of-type:before {
    background-color: windowText;
    border: 1em solid transparent;
    /* firefox doesn't respect the bg color,
				so the border fills the knob */
  }
  .radio-switch:focus-within label:first-of-type:after {
    outline: 2px solid;
    outline-offset: 3px;
  }
}

/*----------------------------
	Pricing options container
----------------------------*/
main {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  max-width: 75rem;
  gap: 1.5rem;
  flex-grow: 1;
}

.package {
  background-color: var(--white);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  gap: 1.4rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem 0.1rem hsla(234, 14%, 74%, 0.555);
}

.package:nth-child(2) {
  background: var(--gradient);
  color: var(--white);
}

.package__type {
  color: var(--GrayishBlue);
  font-size: 0.85rem;
}

.package__price span {
  display: none;
  color: var(--DarkGrayishBlue);
  font-size: clamp(1.1rem, 5vw + 1rem, 1.9rem);
  padding-block: 0.5rem;
  margin-block: 1rem;
  transform: scale(0);
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

.package__price span[data-show="true"] {
  transform: scale(1);
  font-size: clamp(1.6rem, 5vw + 1rem, 2.5rem);
  visibility: visible;
  display: block;
}

.package__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.package__features li {
  padding-block: 1.3rem;
  width: 90%;
  border-top-width: 0.1rem;
  border-bottom-width: 0.1rem;
  border-top-color: var(--LightGrayishBlue);
  border-bottom-color: var(--LightGrayishBlue);
  border-top-style: solid;
  border-bottom-style: solid;
}

.btn {
  outline: 1px solid transparent;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: inline-block;
  padding: 0.9em 1.2em;
  width: 80%;
  border-radius: 0.75rem;
  font-size: 1rem;
  color: var(--grey-100);
  font-weight: 500;
  background-image: var(--gradient);
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-color: var(--grey-100);
  background-image: none;
  color: var(--brand-300);
  outline: 1px solid var(--brand-300);
}

.btn--inverted {
  outline: 1px solid var(--white);
}

.btn--inverted:hover {
  background: var(--gradient-hover);
  color: var(--white);
}

footer {
  visibility: hidden;
}
.att {
  display: none;
}

/*----------------------------
	Break Point
----------------------------*/

@media (min-width: 45rem) {
  body {
    background-position: left bottom, right top;
  }
  main {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
  }
  .package:nth-child(2) {
    transform: scale(1.1);
  }

  footer {
    position: fixed;
    visibility: visible;
    bottom: 0;
    top: 0;
    right: 1rem;
    height: 100%;
    width: 5rem;
    background-image: var(--gradient);
    color: var(--grey-100);
    writing-mode: vertical-lr;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    gap: 1rem;
    transform: translateY(-120%);
    transition: transform 700ms ease-in-out;
    z-index: 101;
  }

  footer a {
    color: var(--white);
    font-weight: 600;
  }

  footer[data-att="true"] {
    transform: translateY(0);
  }

  .att {
    position: fixed;
    display: block;
    cursor: pointer;
    bottom: 1rem;
    left: 1rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    z-index: 101;
  }
}
